{% extends 'base_admin.html' %}

{% block content_title %}
    Добавим пиццу?
{% endblock %}

{% block content %}

    <form action="{{ url_for('add_new') }}" method="post">
            <p>Название: <input type="text" name=name></p>
            <p>Ингридиенты: <input type="text" name=description></p>
            <p>Цена: <input type="text" name=price></p>
            <p><input type=submit value=Добавить></p>
    </form>

{% endblock %}

{% block additional_content %}
{#    {% for pizza in goods %}#}
{#    <p><i><a href="{{ url_for('pizza_detail', pizza_id=pizza.pizza_id) }}">{{ pizza.name }}</a></i></p>#}
{#    {% endfor %}#}
{% endblock %}