{% extends 'base_staff.html' %}

{% block content_title %}
    Order list:
{% endblock %}

{% block content %}
    {% for order, pizza in orders %}

        <p>Order # <b>{{ order.id }}</b></p>
        <p>Pizza: <b>{{ order.pizza.name }}</b></p>
        <p>Additions: <b>{{ order.ingredient }}</b></p>

        {% if not order.state %}

            <form action="{{ url_for('done', order_id=order.id) }}" method="post">
            <p><input type=submit value=Done></p>
        {% endif %}
    </form>


        <p>-----------------------------------</p>

    {% endfor %}
{% endblock %}