{% extends 'base_admin.html' %}

{% block content_title %}
    Order list:
{% endblock %}

{% block content %}
    {% for order, user in orders%}
        {% if order.state %}
            <p>Order # <strong>{{ order.id }}</strong>, {{ order.user.name }} {{ order.user.last_name }} -> <span style="color: green; "><b>READY</b></span></p>
        {% else %}
            <p>Order # <strong>{{ order.id }}</strong> -> <span style="color: coral; "><strong>BAKING</strong></span></p>
        {% endif %}
    {% endfor %}
{% endblock %}