{% extends 'base_staff.html' %}

{% block content_title %}
    Order list:
{% endblock %}

{% block content %}
    {% for order, pizza in orders %}
        {% if not order.state %}
            <p>Order # <strong>{{ order.id }}</strong></p>
            <p>Pizza: <strong>{{ order.pizza.name }}</strong></p>
            <p>Additions: <strong>{{ order.ingredient }}</strong></p>
            <form action="{{ url_for('done', order_id=order.id) }}" method="post">
                <p><input type=submit value=Done></p>
                <p>-----------------------------------</p>
        {% endif %}
            </form>
    {% endfor %}
{% endblock %}