{% extends 'base_admin.html' %}

{% block content_title %}
    DB Editor
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li><span style="color: red; "><strong>{{ message }}</strong></span></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('add_new') }}" method="post">
        <p>Label: <input type="text" name=name required></p>
        <p>Description: <input type="text" name=description required></p>
        <p>Price: <input type="text" name=price required></p>
        <p>Link to image: <input type="text" name=image></p>
        <p><input type=submit value=Add></p>
    </form>
    <p><h5><strong>Catalog:</strong></h5></p>
    <p>--------------------------</p>
    {% for pizza in goods %}

        <p><strong>{{ pizza.name }}</strong></p>
        {{ pizza.description }}
        <p><strong>{{ pizza.price }} hrn.</strong></p>
        <form action="{{ url_for('update_item', pizza_id=pizza.id) }}">
            <input type="hidden" name=pizza_id value="{{ pizza.id }}">
            <input type=submit value=Update>
        </form>
        <p></p>
        <form action="{{ url_for('del_item') }}" method="post">
            <input type="hidden" name=id value="{{ pizza.id }}">
            <input type=submit value=Delete>
        </form>
        <p>--------------------------</p>

    {% endfor %}

{% endblock %}

{% block additional_content %}

{% endblock %}