{% extends 'base_admin.html' %}

{% block content_title %}
    DB Editor
{% endblock %}

{% block content %}
    <form action="{{ url_for('add_new') }}" method="post">
            <p>Label: <input type="text" name=name></p>
            <p>Description: <input type="text" name=description></p>
            <p>Price: <input type="text" name=price></p>
            <p>Link to image: <input type="text" name=image></p>
            <p><input type=submit value=Add></p>
    </form>
    <p><h5><b>Catalog:</b></h5></p>
    <p>--------------------------</p>
    {% for pizza in goods %}

        <p><b>{{ pizza.name }}</b></p>
            {{ pizza.description }}
            <p><b>{{ pizza.price }} hrn.</b></p>
        <form action="{{ url_for('update_item', pizza_id=pizza.id) }}">
            <input type="hidden" name=pizza_id value="{{ pizza.id }}">
            <input type=submit value=Update>
        </form>
        <p></p>
        <form action="{{ url_for('del_item') }}" method="post">
            <input type="hidden" name=id value="{{ pizza.id }}">
            <input type=submit value=Delete>
        </form>
            <p>--------------------------</p>




    {% endfor %}

{% endblock %}

{% block additional_content %}

{% endblock %}