{% extends 'base_user.html' %}

{% block content_title %}
    <h4>Welcome to <strong>P</strong>izza <strong>O</strong>rder <strong>S</strong>ystem!</h4>
{% endblock %}

{% block content %}
    <p># If you are just hungry - choose <a href="{{ url_for('pizza_list') }}"><strong>"Order a pizza"</strong></a></p>
    <p># If you want to join the team - choose <a href="{{ url_for('sign_up') }}"><strong>"Sign up"</strong></a></p>
    <p># If you are an employee - choose <a href="{{ url_for('login') }}"><strong>"Log in"</strong></a></p>
{% endblock %}

