{% extends 'base_user.html' %}

{% block content_title %}

{% endblock %}


{% block content %}
    <strong>Please enter your login and password</strong>
    <p></p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST">
        <table>
            <tr>
                <td>Login</td>
                <td><input type="text" name="login" required></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" required></td>
            </tr>
            <tr>
                <td><input type="submit" value="Login"></td>
            </tr>
        </table>
    </form>
{% endblock %}