{% extends 'base_user.html' %}

{% block content_title %}
    {{ pizza.name }}
{% endblock %}

{% block content %}

    {{ pizza.description }}

    <p><h5><b>{{ pizza.price }} грн.</b></h5></p>

    <img src="{{ pizza.image }}" alt="шось пишло нэ так....">

    <p></p>


        <h5><b>Вы можете дополнительно добавить:</b></h5>
        <p></p>

        <form action="{{ url_for('add_order', pizza_id=pizza.pizza_id) }}" method="post">
            {% for item in ingredient %}
            <p><input type="checkbox" name="{{ item.type }}" value="{{ item.price }}"> {{ item.type }} + {{ item.price }} грн.</p>
        {% endfor %}
            <p><input type=submit value="Заказать!"></p>
        </form>

{% endblock %}