{% extends 'base_user.html' %}

{% block content_title %}
    {{ pizza.name }}
{% endblock %}

{% block content %}

    {{ pizza.description }}

    <p><h5><strong>{{ pizza.price }} hrn.</strong></h5></p>

    <img src="{{ pizza.image }}" alt="something went wrong :(">

    <form action="{{ url_for('add_rate', pizza_id=pizza.id) }}" method="post">
    <button type="submit" formmethod="post" name="like" value="1">
        <img src="\static\like.jpg" alt="something went wrong :(" style="vertical-align: middle" ></button>
    <button type="submit" formmethod="post" name="dislike" value="2">
        <img src="\static\dislike.jpg" alt="something went wrong :(" style="vertical-align: middle"></button>
    <p></p>
    </form>
    <p>Current pizza rate: {{ pizza.rate }}</p>


    <h5><strong>You can add:</strong></h5>
    <p></p>

    <form action="{{ url_for('add_order', pizza_id=pizza.id) }}" method="post">
        {% for item in ingredient %}
            <p><input type="checkbox" name="{{ item.type }}" value="{{ item.price }}"> {{ item.type }}
                + {{ item.price }} hrn.</p>
        {% endfor %}
        <p><input type=submit value="Get it!"></p>
    </form>

{% endblock %}