{% extends 'base_user.html' %}

{% block content_title %}
    Choose your pizza:
{% endblock %}

{% block content %}

    <form action="{{ url_for('pizza_list') }}" method="post">

        <button type="submit" formmethod="post" name="name" value="price">
            <img src="\static\sort_by_price.jpg" alt="something went wrong :(" style="vertical-align: middle"></button>
        <button type="submit" formmethod="post" name="name" value="name">
            <img src="\static\sort_by_name.jpg" alt="something went wrong :(" style="vertical-align: middle"></button>
        <button type="submit" formmethod="post" name="name" value="rate">
            <img src="\static\sort_by_rate.jpg" alt="something went wrong :(" style="vertical-align: middle"></button>
        <p></p>
    </form>

    {% for pizza in goods %}
        <p><a href="{{ url_for('pizza_detail', pizza_id=pizza.id) }}" style="text-decoration: none">{{ pizza.name }}
            - {{ pizza.price }} hrn.</a></p>
    {% endfor %}

{% endblock %}