{% extends 'base_admin.html' %}
{% block content_title %}
    DB Editor
{% endblock %}

{% block content %}

    <p><h5><b>Update:</b></h5></p>

    <p><b>{{ pizza.name }}</b></p>
          {{ pizza.description }}
    <p><h5><b>{{ pizza.price }} hrn.</b></h5></p>

{% endblock %}





{% block additional_content %}

    <form action="{{ url_for('update_item', pizza_id=pizza.id) }}" method="post">
            <p>Label: <input type="text" name=name value="{{ pizza.name }}"></p>
            <p>Description: <input type="text" name=description value="{{ pizza.description }}"></p>
            <p>Price: <input type="text" name=price value="{{ pizza.price }}"></p>
            <p>Link to image: <input type="text" name=image value="{{ pizza.image }}"></p>
            <p><input type=submit value=Update></p>
    </form>


{% endblock %}