{% extends 'base_admin.html' %}

{% block content_title %}
    <b>Users:</b>
{% endblock %}

{% block content %}
    {% for user in users %}
        {% if user.role == 1 %}
            <p><b>{{ user.name }} {{ user.last_name }}</b> --- Administrator </p>
            <p><b>login:</b> {{ user.login }}</p>
        {% endif %}
        {% if user.role == 0 %}
            <p><b>{{ user.name }} {{ user.last_name }}</b> --- Chef</p>
            <p><b>login:</b> {{ user.login }}</p>
            <p><b>completed orders:</b> {{ user.completed_orders }}</p>
        {% endif %}
        <p></p>
        <form action="{{ url_for('del_user') }}" method="post">
            <input type="hidden" name=id value="{{ user.id }}">
            <input type=submit value=Delete>
        </form>
        --------------------------------------------
    {% endfor %}
{% endblock %}