{% extends 'base_admin.html' %}

{% block content_title %}
    <strong>Users:</strong>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li><span style="color: red; "><strong>{{ message }}</strong></span></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% for user in users %}
        {% if user.role == 1 %}
            <p><strong>{{ user.name }} {{ user.last_name }}</strong> --- Administrator </p>
            <p><strong>login:</strong> {{ user.login }}</p>
        {% endif %}
        {% if user.role == 0 %}
            <p><strong>{{ user.name }} {{ user.last_name }}</strong> --- Chef</p>
            <p><strong>login:</strong> {{ user.login }}</p>
            <p><strong>completed orders:</strong> {{ user.completed_orders }}</p>
        {% endif %}
        <p></p>
        <form action="{{ url_for('del_user') }}" method="post">
            <input type="hidden" name=id value="{{ user.id }}">
            <input type=submit value=Delete>
        </form>
        --------------------------------------------
    {% endfor %}
{% endblock %}